[Desktop Entry]
Encoding=UTF-8
Name=Link to MATLAB to Point Cloud Library - File Exchange - MATLAB Central
Type=Link
URL=https://www.mathworks.com/matlabcentral/fileexchange/40382-matlab-to-point-cloud-library
Icon=text-html
